@CHARSET "UTF-8";

a {
	color: blue;
}
div#content {
	padding-left: 5px;
}
body {
	margin-left:auto;
	margin-right:auto;
	width:950px;
	border: 1px solid #dedbde;
	padding: 10px;
	
	font-family: sans-serif;
}

input[type=text] {
	border:1px solid #b2b2b2;
	margin:0;
	padding:3px 2px;
	width:200px;
}
div#header {
	text-align: right;
	border-bottom: 1px solid #dedbde;
	padding: 30px 5px 3px 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: small;
	background: url("/resources/img/logo.png") no-repeat;
}
div#footer {
	text-align: center;
	font-size: smaller;
	margin-top: 25px;
	padding-top: 5px;
	color: #b2b2b2;
}
.hidden {
	display: none;
}

ul.simpleList {
	list-style: none;
	padding: 0;
	width: 300px;
}

ul.simpleList li.hover {
	background-color: #eee;
}
ul.simpleList li {
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #0072FF;
	font-size: 1.1em;
	float: left;
	clear: both;
	width: 100%;
}
ul.simpleList li.clean {
	float: none;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
}
ul.simpleList li span.second {
	float: right;
	font-size: 0.5em;	
}
ul.simpleList li span.second a {
	text-align: right;
	display: block;
	font-size: 1.5em;
}
ul.simpleList li span.first {
	float: left;
}

#players {
	width: 45%;
	float: left;
}
#players p {
	border: 1px dashed lavender;
	padding: 10px;
	width: 80%;
}

#teams {
	width: 45%;
	float:right;
}
#teams h5 {
	margin:0;
}
#teams .player {
	border: 0.5px solid lavender;
	color:lavender;
	font-style:italic;
	margin:3px;
	padding:10px;
	width:50%;
}
#teams .player.active {
	color: black;
	font-weight: bold;
}
div.clean {
	clear: both;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 0;
}
.small {
	font-size: 0.6em;
}
#players .small {
	padding: 5px;
}
.valid {
	color: #0c0;
}
.invalid {
	color: #c00;
}